
.AllCards {
  padding-top: 20px ;
  box-sizing: border-box;
  display: grid;
  /* gap: 3rem; */
  /* width: 90vw; */
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  /* padding: 2% 6%; */
  /* /* margin-left: auto; */
  margin: auto; 

  overflow: hidden;
  justify-content: center; /* Centers the grid items horizontally */
  align-items: center; /* Centers the grid items vertically */
 
}
