.AllCards {
  box-sizing: border-box;
  display: grid;
  gap: 3rem;
  /* width: 90vw; */
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  /* padding: 2% 6%; */
  /* margin-left: auto;
  margin-right: auto; */
  overflow: hidden;
  /* background-color: aqua; */
}
